@import "tailwindcss";

@font-face {
  font-family: "Jetbrains";
  src: url("./assets/fonts/jetbrains_mono/JetBrainsMono-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for performance */
}
@font-face {
  font-family: "Jetbrains-Regular";
  src: url("./assets/fonts/jetbrains_mono/JetBrainsMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for performance */
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/quicksand/Quicksand-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for performance */
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("./assets/fonts/quicksand/Quicksand-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for performance */
}

body {
  font-size: 18px;
  font-family: "Quicksand";
  background: #f5f5f5;
}

.ascend-editor {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  @apply border-2 border-gray-500;
}

.ascend-editor-cursor {
  width: 1px;
  height: 1.2em;
  background: black;
  margin-top: -0.1em;
  position: absolute;
  display: none;
}
.font-bold-style {
  font-family: "Quicksand-Bold";
}
.ascend-editor-focused .ascend-editor-cursor {
  display: inline-block;
}

.ascend-editor-code {
  position: relative;
  white-space: pre;
  overflow: auto;
  height: 400px;
  width: 100%;
  line-height: 1em;
  font-family: "Jetbrains-Regular" !important;
  font-size: 15px;
  padding: 0.4em;
}

.ascend-editor-selected {
  background-color: #bbb !important;
  color: #fff !important;
}

.ascend-editor-focused .ascend-editor-selected {
  background: #88f !important;
}

.ascend-editor-line-numbers {
  @apply bg-gray-500 text-gray-100 text-right float-left -mt-[0.4em] mr-[0.4em]      
  -mb-[0.4em]      
  -ml-[0.4em]      
  pt-[0.4em]       
  pr-[0.2em]           
  pb-[0.4em]      
  pl-[0.4em];
}
