body {
  font-size: 18px;
}

.ascend-editor {
  position: relative;
  border: 1px solid black;
}

.ascend-editor-cursor {
  width: 1px;
  height: 1.2em;
  background: black;
  margin-top: -0.1em;
  position: absolute;
  display: none;
}

.ascend-editor-focused .ascend-editor-cursor {
  display: block;
}

.ascend-editor-code {
  position: relative;
  white-space: pre;
  overflow: auto;
  min-height: 140px;
  width: 100%;
  line-height: 1em;
  font-family: monospace;
  padding: 0.4em;
}

.ascend-editor div {
  height: 1em;
  min-width: 1px;
}

.ascend-editor-selected {
  background-color: #bbb !important;
  color: #fff !important;
}

.ascend-editor-focused .ascend-editor-selected {
  background: #88f !important;
}
